In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sample', echo=True)

In [2]:
conn = engine.connect()

2018-09-25 17:38:21,168 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-25 17:38:21,241 INFO sqlalchemy.engine.base.Engine ()
2018-09-25 17:38:21,291 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-25 17:38:21,301 INFO sqlalchemy.engine.base.Engine ()

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
employee = Table('employee', metadata,
              Column('id', Integer, primary_key=True),
              Column('age', Integer),
              Column('workclass', String),
              Column('fnlwgt', Integer),
              Column('education', String),
              Column('education_num', Integer),
              Column('marital_status', String),
              Column('occupation', String),
              Column('relationship', String),
              Column('rasexce', String),
              Column('sex', String),
              Column('capital_gain', Integer),
              Column('capital_loss', Integer),
              Column('hours_per_week', Integer),
              Column('native_country', String),
              Column('salary', String),
)

In [15]:
ins1 = employee.insert().values(id=1, age=39,workclass='State-gov, fnlwgt=77516
                               ,education='Bachelors', education_num=13,marital_status='Never-married', occupation='Adm-clerical'
                            ,relationship='Not-in-family', rasexce='white',sex='Male', capital_gain=2174
                              ,capital_loss=0, hours_per_week=40,native_country='united-states', salary='<=50k'
                              )

SyntaxError: EOL while scanning string literal (<ipython-input-15-d45643a717a6>, line 1)

In [13]:
ins2 = employee.insert().values(id=2, age=50,workclass='Self-emp-not-inc', fnlwgt=83311
                               ,education='Bachelors', education_num=13,marital_status='Married-civ-spouse', occupation='Exec-managerial'
                              ,relationship='Husband', rasexce='white',sex='Male', capital_gain=0
                              ,capital_loss=0, hours_per_week=13,native_country='united-states', salary='<=50k'
                              )

In [16]:
ins3 = employee.insert().values(id=3, age=38,workclass='Private', fnlwgt=215646
                               ,education='HS-grad', education_num=9,marital_status='Divorced', occupation='Handlers-cleaners'
                              ,relationship='Not-in-family', rasexce='white',sex='Male', capital_gain=0
                              ,capital_loss=0, hours_per_week=40,native_country='united-states', salary='<=50k'
                              )

In [17]:
#ins1.compile().params  # to view the data to be inserted
conn.execute(ins1)
conn.execute(ins2)
conn.execute(ins3)

2018-09-25 17:54:52,349 INFO sqlalchemy.engine.base.Engine INSERT INTO employee (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, rasexce, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-25 17:54:52,389 INFO sqlalchemy.engine.base.Engine (1, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'white', 'Male', 2174, 0, 40, 'united-states', '<=50k')
2018-09-25 17:54:52,399 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: employee [SQL: 'INSERT INTO employee (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, rasexce, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (1, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'white', 'Male', 2174, 0, 40, 'united-states', '<=50k')] (Background on this error at: http://sqlalche.me/e/e3q8)

In [8]:
import pandas as pd
import sqlite3

In [9]:
select * from employee

SyntaxError: invalid syntax (<ipython-input-9-e9082b866d60>, line 1)

In [10]:
q = """SELECT * FROM employee LIMIT 10;"""
pd.read_sql(q, connection)

NameError: name 'connection' is not defined

In [11]:
from sqlalchemy.sql import select
s = select([employee])
result = conn.execute(s)
row = result.fetchall()
print(row)

2018-09-25 17:46:01,929 INFO sqlalchemy.engine.base.Engine SELECT employee.id, employee.age, employee.workclass, employee.fnlwgt, employee.education, employee.education_num, employee.marital_status, employee.occupation, employee.relationship, employee.rasexce, employee.sex, employee.capital_gain, employee.capital_loss, employee.hours_per_week, employee.native_country, employee.salary
FROM employee
2018-09-25 17:46:01,969 INFO sqlalchemy.engine.base.Engine ()
2018-09-25 17:46:02,019 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: employee [SQL: 'SELECT employee.id, employee.age, employee.workclass, employee.fnlwgt, employee.education, employee.education_num, employee.marital_status, employee.occupation, employee.relationship, employee.rasexce, employee.sex, employee.capital_gain, employee.capital_loss, employee.hours_per_week, employee.native_country, employee.salary \nFROM employee'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [18]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
employee = Table('employee', metadata,
              Column('id', Integer, primary_key=True),
              Column('age', Integer),
              Column('workclass', String),
              Column('fnlwgt', Integer),
              Column('education', String),
              Column('education_num', Integer),
              Column('marital_status', String),
              Column('occupation', String),
              Column('relationship', String),
              Column('rasexce', String),
              Column('sex', String),
              Column('capital_gain', Integer),
              Column('capital_loss', Integer),
              Column('hours_per_week', Integer),
              Column('native_country', String),
              Column('salary', String),
)

In [19]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sample', echo=True)

In [20]:
conn = engine.connect()

2018-09-25 17:59:26,466 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-25 17:59:26,476 INFO sqlalchemy.engine.base.Engine ()
2018-09-25 17:59:26,477 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-25 17:59:26,479 INFO sqlalchemy.engine.base.Engine ()

In [21]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
employee = Table('employee', metadata,
              Column('id', Integer, primary_key=True),
              Column('age', Integer),
              Column('workclass', String),
              Column('fnlwgt', Integer),
              Column('education', String),
              Column('education_num', Integer),
              Column('marital_status', String),
              Column('occupation', String),
              Column('relationship', String),
              Column('rasexce', String),
              Column('sex', String),
              Column('capital_gain', Integer),
              Column('capital_loss', Integer),
              Column('hours_per_week', Integer),
              Column('native_country', String),
              Column('salary', String),
)
#metadata.create_all(engine) // view the query

In [22]:
metadata.create_all(engine)

2018-09-25 18:00:54,194 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("employee")
2018-09-25 18:00:54,264 INFO sqlalchemy.engine.base.Engine ()
2018-09-25 18:00:54,304 INFO sqlalchemy.engine.base.Engine
CREATE TABLE employee (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt INTEGER,
	education VARCHAR,
	education_num INTEGER,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	rasexce VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	salary VARCHAR,
	PRIMARY KEY (id)
)


2018-09-25 18:00:54,314 INFO sqlalchemy.engine.base.Engine ()
2018-09-25 18:00:54,434 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
ins1 = employee.insert().values(id=1, age=39,workclass='State-gov', fnlwgt=77516
                               ,education='Bachelors', education_num=13,marital_status='Never-married', occupation='Adm-clerical'
                            ,relationship='Not-in-family', rasexce='white',sex='Male', capital_gain=2174
                              ,capital_loss=0, hours_per_week=40,native_country='united-states', salary='<=50k'
                              )
ins2 = employee.insert().values(id=2, age=50,workclass='Self-emp-not-inc', fnlwgt=83311
                               ,education='Bachelors', education_num=13,marital_status='Married-civ-spouse', occupation='Exec-managerial'
                              ,relationship='Husband', rasexce='white',sex='Male', capital_gain=0
                              ,capital_loss=0, hours_per_week=13,native_country='united-states', salary='<=50k'
                              )

In [24]:
ins3 = employee.insert().values(id=3, age=38,workclass='Private', fnlwgt=215646
                               ,education='HS-grad', education_num=9,marital_status='Divorced', occupation='Handlers-cleaners'
                              ,relationship='Not-in-family', rasexce='white',sex='Male', capital_gain=0
                              ,capital_loss=0, hours_per_week=40,native_country='united-states', salary='<=50k'
                              )

In [25]:
conn.execute(ins1)
conn.execute(ins2)
conn.execute(ins3)

2018-09-25 18:03:07,284 INFO sqlalchemy.engine.base.Engine INSERT INTO employee (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, rasexce, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-25 18:03:07,304 INFO sqlalchemy.engine.base.Engine (1, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'white', 'Male', 2174, 0, 40, 'united-states', '<=50k')
2018-09-25 18:03:07,334 INFO sqlalchemy.engine.base.Engine COMMIT
2018-09-25 18:03:07,494 INFO sqlalchemy.engine.base.Engine INSERT INTO employee (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, rasexce, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-25 18:03:07,504 INFO sqlalchemy.engine.base.Engine (2, 50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'white', 'Male', 0, 0, 13, 'united-states', '<=50k')
2018-09-25 18:03:07,534 INFO sqlalchemy.engine.base.Engine COMMIT
2018-09-25 18:03:07,624 INFO sqlalchemy.engine.base.Engine INSERT INTO employee (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, rasexce, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-25 18:03:07,634 INFO sqlalchemy.engine.base.Engine (3, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'white', 'Male', 0, 0, 40, 'united-states', '<=50k')
2018-09-25 18:03:07,645 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
from sqlalchemy.sql import select
s = select([employee])
result = conn.execute(s)
row = result.fetchall()
print(row)

2018-09-25 18:03:48,083 INFO sqlalchemy.engine.base.Engine SELECT employee.id, employee.age, employee.workclass, employee.fnlwgt, employee.education, employee.education_num, employee.marital_status, employee.occupation, employee.relationship, employee.rasexce, employee.sex, employee.capital_gain, employee.capital_loss, employee.hours_per_week, employee.native_country, employee.salary
FROM employee
2018-09-25 18:03:48,123 INFO sqlalchemy.engine.base.Engine ()
[(1, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'white', 'Male', 2174, 0, 40, 'united-states', '<=50k'), (2, 50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'white', 'Male', 0, 0, 13, 'united-states', '<=50k'), (3, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'white', 'Male', 0, 0, 40, 'united-states', '<=50k')]

In [27]:
from sqlalchemy import update

stmt = update(employee).where(employee.c.id==1).values(age=49)
stmt1 = update(employee).where(employee.c.id==1).values(marital_status='Married')
conn.execute(stmt)
conn.execute(stmt1)

2018-09-25 18:04:05,495 INFO sqlalchemy.engine.base.Engine UPDATE employee SET age=? WHERE employee.id = ?
2018-09-25 18:04:05,595 INFO sqlalchemy.engine.base.Engine (49, 1)
2018-09-25 18:04:05,625 INFO sqlalchemy.engine.base.Engine COMMIT
2018-09-25 18:04:05,805 INFO sqlalchemy.engine.base.Engine UPDATE employee SET marital_status=? WHERE employee.id = ?
2018-09-25 18:04:05,815 INFO sqlalchemy.engine.base.Engine ('Married', 1)
2018-09-25 18:04:05,817 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
s = select([employee])
result = conn.execute(s)
row = result.fetchall()
print(row)

2018-09-25 18:04:22,378 INFO sqlalchemy.engine.base.Engine SELECT employee.id, employee.age, employee.workclass, employee.fnlwgt, employee.education, employee.education_num, employee.marital_status, employee.occupation, employee.relationship, employee.rasexce, employee.sex, employee.capital_gain, employee.capital_loss, employee.hours_per_week, employee.native_country, employee.salary
FROM employee
2018-09-25 18:04:22,438 INFO sqlalchemy.engine.base.Engine ()
[(1, 49, 'State-gov', 77516, 'Bachelors', 13, 'Married', 'Adm-clerical', 'Not-in-family', 'white', 'Male', 2174, 0, 40, 'united-states', '<=50k'), (2, 50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'white', 'Male', 0, 0, 13, 'united-states', '<=50k'), (3, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'white', 'Male', 0, 0, 40, 'united-states', '<=50k')]

In [29]:
stmt1=employee.delete().where(employee.c.id==1)
stmt2=employee.delete().where(employee.c.id==2 and employee.c.sex=='Male')
conn.execute(stmt1)
conn.execute(stmt2)

2018-09-25 18:04:39,544 INFO sqlalchemy.engine.base.Engine DELETE FROM employee WHERE employee.id = ?
2018-09-25 18:04:39,584 INFO sqlalchemy.engine.base.Engine (1,)
2018-09-25 18:04:39,614 INFO sqlalchemy.engine.base.Engine COMMIT
2018-09-25 18:04:39,714 INFO sqlalchemy.engine.base.Engine DELETE FROM employee WHERE employee.id = ?
2018-09-25 18:04:39,724 INFO sqlalchemy.engine.base.Engine (2,)
2018-09-25 18:04:39,744 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
s = select([employee])
result = conn.execute(s)
row = result.fetchall()
print(row)

2018-09-25 18:05:02,993 INFO sqlalchemy.engine.base.Engine SELECT employee.id, employee.age, employee.workclass, employee.fnlwgt, employee.education, employee.education_num, employee.marital_status, employee.occupation, employee.relationship, employee.rasexce, employee.sex, employee.capital_gain, employee.capital_loss, employee.hours_per_week, employee.native_country, employee.salary
FROM employee
2018-09-25 18:05:03,013 INFO sqlalchemy.engine.base.Engine ()
[(3, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'white', 'Male', 0, 0, 40, 'united-states', '<=50k')]

In [31]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [32]:
stmt1= session.query(employee).filter(employee.c.id=='Male').first()
stmt2= session.query(employee).filter(employee.c.hours_per_week==45).first()

2018-09-25 18:05:34,807 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-25 18:05:34,827 INFO sqlalchemy.engine.base.Engine SELECT employee.id AS employee_id, employee.age AS employee_age, employee.workclass AS employee_workclass, employee.fnlwgt AS employee_fnlwgt, employee.education AS employee_education, employee.education_num AS employee_education_num, employee.marital_status AS employee_marital_status, employee.occupation AS employee_occupation, employee.relationship AS employee_relationship, employee.rasexce AS employee_rasexce, employee.sex AS employee_sex, employee.capital_gain AS employee_capital_gain, employee.capital_loss AS employee_capital_loss, employee.hours_per_week AS employee_hours_per_week, employee.native_country AS employee_native_country, employee.salary AS employee_salary
FROM employee
WHERE employee.id = ?
 LIMIT ? OFFSET ?
2018-09-25 18:05:34,877 INFO sqlalchemy.engine.base.Engine ('Male', 1, 0)
2018-09-25 18:05:34,977 INFO sqlalchemy.engine.base.Engine SELECT employee.id AS employee_id, employee.age AS employee_age, employee.workclass AS employee_workclass, employee.fnlwgt AS employee_fnlwgt, employee.education AS employee_education, employee.education_num AS employee_education_num, employee.marital_status AS employee_marital_status, employee.occupation AS employee_occupation, employee.relationship AS employee_relationship, employee.rasexce AS employee_rasexce, employee.sex AS employee_sex, employee.capital_gain AS employee_capital_gain, employee.capital_loss AS employee_capital_loss, employee.hours_per_week AS employee_hours_per_week, employee.native_country AS employee_native_country, employee.salary AS employee_salary
FROM employee
WHERE employee.hours_per_week = ?
 LIMIT ? OFFSET ?
2018-09-25 18:05:34,987 INFO sqlalchemy.engine.base.Engine (45, 1, 0)

In [33]:
from sqlalchemy import func
stmt1 = session.query(func.count('*')).select_from(employee).scalar()
stmt2 = session.query(func.count(employee.c.id)).scalar()
print(stmt1)
print(stmt2)

2018-09-25 18:05:55,036 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
FROM employee
2018-09-25 18:05:55,056 INFO sqlalchemy.engine.base.Engine ('*',)
2018-09-25 18:05:55,066 INFO sqlalchemy.engine.base.Engine SELECT count(employee.id) AS count_1
FROM employee
2018-09-25 18:05:55,066 INFO sqlalchemy.engine.base.Engine ()
1
1